:root {
  --background-color: black;
  --color: #D7D7D7;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--background-color);
}

h1 {
  margin: 0;

  position: relative;
  top: 2vh;
  left: 1vw;

  z-index: 200;

  font-family: Helvetica, Arial, cursive;
  color: var(--color);
  font-size: 10vw;
  line-height: 9vw;
}
#logo {
  width: 15vw;
  position: fixed;
  display: block;
  right: 5vw;
  bottom: 5vh;
}

a {
  position: fixed;
  right: 5vw;
  top: 10vh;
}